[2015-04-01 21:45] pjhampton opened #3 "Missing Documentation"
Need documentation for this project.

[2015-04-01 21:48] pjhampton opened #4 "Missing Licence"
Add GPL v2 licence to themes root.

[2015-04-02 12:02] pjhampton commented on #4
The missing GPL v2 file was added to the project root.

[2015-04-02 12:02] #4 closed

[2015-12-02 15:46] pjhampton opened #5 "WooCommerce Support"
Add WooCommerce Support to the theme.

[2015-12-02 15:58] pjhampton opened #6 "Remove boilerplate styles"
Cut down the need for so much boilerplate. This can be replaced by bootstraps config on http://getbootstrap.com/customize/

[2016-01-03 23:02] pjhampton commented on #6
Removed as much as possible. Only the bare minimum CSS exists to make the theme work, to the best of my knowledge.

[2016-01-03 23:02] #6 closed

[2016-03-06 23:23] pjhampton opened #7 "Populate Wiki"

[2016-03-30 21:34] pjhampton opened #10 "Fix Comments."
The comment of a post is pretty messed up. This needs fixed.

[2016-05-05 21:54] #10 closed

[2016-05-05 21:56] pjhampton opened #11 "Style WordPress Widgets"
# Style WordPress Widgets ✨  🚀

The default WordPress widgets could do with some light styling changes.
- **Search** - apply `.form-control` class to search box + bootstrap css class to button
- **Recent Posts** - with and without dates
- **Recent comments**
- **Archives** - when displayed as a dropdown, the select element needs the class `.form-control`

[2016-05-28 15:17] pjhampton commented on #5
This has been added.

[2016-05-28 15:17] #5 closed

[2016-05-28 15:18] pjhampton commented on #3
This is now going into the wiki.

[2016-05-28 15:18] #3 closed

[2016-09-28 08:48] pjhampton opened #13 "Fix WooCommerce Page"
When moving the starter theme from Bootstrap 3 to Bootstrap 4, it messed up the WooCommerce front-end.  This is what is used to look like:

<img src="https://camo.githubusercontent.com/02e85be8740be1b285f6a79edc98fcc9f6737df9/687474703a2f2f706a68616d70746f6e2e636f6d2f626967626f6f74792f776f6f636f6d6d657263652e706e67">

but now it looks like this:

![screen shot 2016-09-28 at 9 45 14 am](https://clo

[2016-09-28 08:52] pjhampton opened #14 "Design new placeholder.png"
A call for a designer to change the theme placeholder (placeholder.png) as it looks pretty boring.

**placeholder.png (current)**
![screenshot](https://cloud.githubusercontent.com/assets/8960296/18906863/331abe70-8561-11e6-864c-8491dbeb05ec.png)

[2016-09-28 15:47] JonathanSpeek commented on #14
I can take this one, where would you like me put the placeholder.png in your repo?

[2016-10-03 13:09] #13 closed

[2016-10-03 13:09] pjhampton commented on #14
Closed via #16

[2016-10-03 13:09] #14 closed

[2016-10-04 09:12] pjhampton opened #18 "Post Format Development (aside)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:

 - aside
 - gallery
 - link
 - image
 - ~~quote~~ - COMPLETE
 - status
 - video
 - audio
 - chat

## The Goal

The goal of up and coming PR

[2016-10-04 09:14] pjhampton opened #19 "Post Format Development (audio)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:
- aside
- gallery
- link
- image
- ~~quote~~ - COMPLETE
- status
- video
- **audio**
- chat
## The Goal

The goal of up and coming PR will be

[2016-10-04 09:19] pjhampton opened #20 "Post Format Development (chat)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:

 - aside
 - gallery
 - link
 - image
 - ~~quote~~ - COMPLETE
 - status
 - video
 - audio
 - **chat**

## The Goal

The goal of up and coming

[2016-10-04 09:28] pjhampton opened #21 "Post Format Development (quote)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:

 - aside
 - gallery
 - link
 - image
 - **quote**
 - status
 - video
 - audio
 - chat

## The Goal

The goal of up and coming PR will be to

[2016-10-04 09:31] pjhampton opened #22 "New theme name"
# New Theme Name 🚀

I have used this theme in production a couple of times now, and since I'm opening it up to the world it might be a good idea to give it a new name, possibly a new home in a Github organization. I'm terrible at naming things. Does anybody have any ideas?

[2016-10-04 19:32] pjhampton opened #23 "Post Format Development (image)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:

 - aside
 - gallery
 - link
 - **image**
 - ~~quote~~ - COMPLETE
 - status
 - video
 - audio
 - chat

## The Goal

The goal of up and coming

[2016-10-05 13:33] fvaneldijk commented on #23
Hi @pjhampton, I would like to claim this issue.

[2016-10-05 13:34] pjhampton commented on #23
Thanks @fvaneldijk 😄

[2016-10-05 14:58] #21 closed

[2016-10-05 15:58] admah commented on #20
So just to confirm - you want an additional post format called "chat"?

[2016-10-05 16:11] pjhampton opened #26 "Post Format Development (link)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:

 - aside
 - gallery
 - **link**
 - image
 - ~~quote~~ - COMPLETE
 - status
 - video
 - audio
 - chat

## The Goal

The goal of up and coming

[2016-10-06 08:08] pjhampton opened #27 "Post Format Development (video)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:

 - aside
 - gallery
 - link
 - image
 - ~~quote~~ - COMPLETE
 - status
 - **video**
 - audio
 - chat

## The Goal

The goal of up and coming

[2016-10-06 11:08] themaxsandelin commented on #27
I would like to take this on! Could you explain in more detail what's to be done? Is it CSS styling of a post type section?

[2016-10-06 11:21] pjhampton commented on #27
That would be awesome @themaxsandelin!! 😄

Yep, so both. You want to add light styling to
https://github.com/pjhampton/BigBooty/blob/master/static/css/app.css

and alter the templating in:
https://github.com/pjhampton/BigBooty/blob/master/formats/format-video.php

Here is some more information on post formats:
https://www.youtube.com/watch?v=--5I-avZUcY

Let me know if you have any questions and I

[2016-10-06 11:44] themaxsandelin commented on #27
Thank you very much for the information. Now that I have a better understanding I can say that I would love to take this on! You can assign it to me and I'll take a look at it right now 💪🏻😊

[2016-10-06 12:52] themaxsandelin commented on #27
In terms of styling, how much different are you thinking it will be to the general styling of the page? Does text content and images get affected as well or is it just the video embeded in the post?

[2016-10-06 12:56] pjhampton commented on #27
Hey @themaxsandelin!!

Because it's a starter theme, please make it as minimal as possible. It should be really basic / plain as the point is the next theme you develop you can restyle it with minimal fuss. I don't believe any content / images should be showing up. You should be taking the title (which the user will supply as a link) and then render it on the front end.

Does this make sence. So I

[2016-10-06 13:03] themaxsandelin commented on #27
Yes, that makes perfect sense! You want the link to parsed, so that depending on what type of link they post they get an embedded player? (ex. YouTube link, Vimeo link or link to .mp4 file)

[2016-10-06 13:21] pjhampton commented on #27
You got it @themaxsandelin 👍

[2016-10-06 13:26] themaxsandelin commented on #27
@pjhampton Cool. I don't quite understand your file structure in terms of the content formats. Where have you defined the templating for each post type, as `format-video.php` does not seem to be used when I post a video.

[2016-10-06 14:12] pjhampton commented on #27
@themaxsandelin

hmm, it seems I was slightly wrong if you look at this screenshot I just took:

**backend**
![screen shot 2016-10-06 at 3 08 20 pm](https://cloud.githubusercontent.com/assets/8960296/19155559/d5511466-8bd6-11e6-9d0a-a18d6fc6e4fe.png)

**frontend**
![screen shot 2016-10-06 at 3 10 35 pm](https://cloud.githubusercontent.com/assets/8960296/19155630/10dc7c64-8bd7-11e6-9cee-acb2224adc6

[2016-10-06 14:41] themaxsandelin commented on #27
Oh I see. So the styling is up to me? :)

[2016-10-06 14:43] pjhampton commented on #27
Yeah, definitely @themaxsandelin 🎃

[2016-10-06 18:52] pjhampton opened #28 "Post Format Development (gallery)"
# Welcome 🚀

WordPress supports [Post Formats](https://codex.wordpress.org/Post_Formats) out of the box. As this starter theme is focused on top-down development, all Post Formats available should be provided out of the box. The various post formats include:

 - aside
 - **gallery**
 - link
 - image
 - ~~quote~~ - COMPLETE
 - status
 - video
 - audio
 - chat

## The Goal

The goal of up and coming

[2016-10-06 18:59] pjhampton opened #29 "Move code to different file (Simple Refactor)"
# Welcome 🚀

In [functions.php](https://github.com/pjhampton/BigBooty/blob/master/functions.php), there are 11 lines of code that shouldn't be there. Lines 59 - 70 should be moved to **config/woocommerce.php**

--
**IMPORTANT**
This issue is reserved for people who **haven't** contributed to this project before. Please comment below to claim it - first come first serve. Happy hacking ❤️

[2016-10-06 19:04] pijemcolu commented on #29
woot, I'll happilly claim this. :)

[2016-10-06 19:14] Dasio commented on #29
I forget to comment, didnt know how to claim it

[2016-10-06 19:16] pjhampton commented on #29
Sorry @Dasio, but fair is fair - I will let @pijemcolu take this forward. However, I believe this still counts if even closed: https://hacktoberfestchecker.herokuapp.com/?username=Dasio

[2016-10-06 20:40] #29 closed

[2016-10-07 08:36] themaxsandelin commented on #27
@pjhampton I have a hard time seeing how to style the videos. Could you give me some examples of how you imagine it could look like? I'm just thinking about the user's ability to include content next to the videos and so on.

[2016-10-07 08:57] pjhampton commented on #27
Hey @themaxsandelin

Honestly, I don't mind what it looks like. After a web search there I found these three:

http://docs.cmsmasters.net/admin1/wp-content/uploads/sites/2/2013/12/video-post-format.png
https://www.designwall.com/wp-content/uploads/sites/2/2013/12/video-post-format-frontend.png
https://make.wordpress.org/training/files/2014/08/Screen-Shot-2014-08-01-at-2.30.07-PM.png

Does this hel

[2016-10-07 13:39] #23 closed

[2016-10-07 16:59] fvaneldijk commented on #26
Hi @pjhampton, I would like to claim this one as well.

[2016-10-07 17:00] pjhampton commented on #26
All yours @fvaneldijk 💛

[2016-10-08 06:05] themaxsandelin opened #33 "Consider adding an .editorconfig file"
Setting up an [EditorConfig](http://editorconfig.org), particularly in collaboration projects, will let you set a standard for each project in terms of coding style. This makes sure that the indentations are formatted correctly and you are able to define coding style for each language that you use in your project.

All that is needed is an `.editorconfig` file where you specify all of the project

[2016-10-08 08:55] pjhampton commented on #33
💙  💛

This looks like a good idea to me. Do you want to take this forward @themaxsandelin

[2016-10-08 14:18] #33 closed

[2016-10-08 18:41] #27 closed

[2016-10-08 19:09] pjhampton opened #36 "Fix Pagination"
There is an issue with the styling of the pagination for the posts. We need to fix this because of the doesn't look that great and this is should be provided out of the box for a starter theme.

**How it should look**
![screen shot 2016-10-08 at 8 03 27 pm](https://cloud.githubusercontent.com/assets/8960296/19215319/7ff18bdc-8d92-11e6-80d9-badf9015b955.png)

**An edge case (notice the dots after)*

[2016-10-08 19:55] jslirola commented on #36
Hello, do you have a demo to check it online? It's probably it can be solved in `/config/pagination.php`

[2016-10-08 20:01] pjhampton commented on #36
Hey @jslirola!!

No, this is a starter theme so it's not deployed anywhere, without my knowledge. I recommend you install it locally and import this data in: https://wpcom-themes.svn.automattic.com/demo/theme-unit-test-data.xml

Hope this helps 😄

[2016-10-09 11:35] #36 closed

[2016-10-09 12:11] pjhampton opened #38 "Add Bootstrap classes to Password Form"
We need to add `.form-control` and `.btn .btn-primary` to the password protection form.

![screen shot 2016-10-09 at 1 09 06 pm](https://cloud.githubusercontent.com/assets/8960296/19220274/99e9e6a8-8e21-11e6-85be-dd21e4333f5f.png)

Step 1 in this link might help:

https://code.tutsplus.com/articles/customizing-and-styling-the-password-protected-form--wp-22375

**Getting Started**
Set up the theme

[2016-10-09 14:41] lexf commented on #38
Hi, I will take this.

[2016-10-09 14:47] Bobeta commented on #38
I can help you out with this one 👍

[2016-10-09 14:56] lexf commented on #38
@Bobeta yeah, no problem. You can publish it.

[2016-10-09 15:05] Bobeta commented on #38
@lexf Thanks, I just pushed it, feel free to comment or make some changes 👍

[2016-10-09 15:28] pjhampton commented on #38
Thanks @Bobeta!! 💛  I will review your PR now. Can you please update your PR message to say: References: #38 ?

I really appreciate the interest @lexf. I can reserve a future issue for you if you want?

[2016-10-09 15:44] lexf commented on #38
@pjhampton It will be great, thanks.

[2016-10-09 16:08] #38 closed

[2016-10-09 19:30] pjhampton commented on #22
I'm considering to rename this theme to `Gramaphone` in the new year (to start the spitting balling off). Does anybody have any opinions, etc?

[2016-10-09 19:40] pjhampton opened #40 "Add color to .sticky class"
On line 28 of static/css/app.css, add the background color `#FFEBCD` to the `.sticky` class.

This issue belongs to who claims this first below! **Please do not send a PR unless you are first to claim this issue otherwise it will be rejected and closed!!**

[2016-10-09 19:47] obsidianspork commented on #40
Claiming!

[2016-10-09 19:47] pjhampton commented on #40
All yours @obsidianspork 💙  💛  💜

[2016-10-09 20:02] #40 closed

[2016-10-11 11:30] pjhampton opened #42 "Add padding to articles"
# Welcome 🚀

**Please note this is a very simple issue reserved for those who haven't contributed to this repo before.** First come first serve. Please comment below to claim the issue. All other attempts to patch this will be closed.

## The Problem

There is not enough padding on the right and left of the article list.

### No padding (How it currently is)
![screen shot 2016-10-11 at 12 07 05 pm

[2016-10-11 12:15] moritzsternemann commented on #42
Working on it! 😄

[2016-10-11 12:28] pjhampton commented on #42
Thanks @moritzsternemann!! All yours 😄

[2016-10-11 14:37] moritzsternemann commented on #42
Quick question: Which page is the one you refer to in the problem description?

[2016-10-11 14:49] pjhampton commented on #42
Hey @moritzsternemann

So it's in home.php - the list of all the posts. However, the tweek will need to be made in the **static/css/app.css** file 😄  Hint: Look to the `.articles` class

[2016-10-11 23:07] moritzsternemann commented on #42
Fixed in #43

Thanks for the hint!
I was a little bit confused because the Posts page (Settings->Reading->Posts page) is only displayed if I do not select a page as the Front page (Settings->Reading->Front page). I'm not sure if this is correct behavior according to https://codex.wordpress.org/Creating_a_Static_Front_Page ...

[2016-10-12 06:46] #42 closed

[2016-10-12 08:58] pjhampton opened #44 "Light styling to comments section"
# Welcome 🚀

**Please note this is a issue reserved for those who haven't contributed to this repo before.** First come first serve. Please comment below to claim the issue. All other attempts to patch this will be closed.

## The Problem

There is no styling on the comments section as yet and is a bit too basic for a starter theme. We need to wrap the comments in bootstrap classes.

### No Stylin

[2016-10-12 18:41] VictorAlagwu commented on #44
Will work on it

[2016-10-12 18:44] pjhampton commented on #44
You rock @VictorAlagwu!! 💙

Let me know if you need any help

[2016-10-12 19:04] RickBakkr commented on #22
How about Wordstrap (already exists in WP catalog, but hasn't been updated for over 2 years) or Bootpress? I think it would be a nice name since it (partially) includes the names of 2 main pieces of software involved: Bootstrap and Wordpress. What do you think? Gramaphone is a nice name either ;-)

[2016-10-12 19:10] RickBakkr commented on #18
Although I am not really experienced with Wordpress yet, wouldn't it be nice to give this one a shot in the context of Hacktoberfest? Can I claim it, @pjhampton ?

[2016-10-12 19:14] pjhampton commented on #18
Of course you can @RickBakkr 💙  💛  ❤️
I can mentor you through it if need be. Just ping me if you have any questions.

Here is a picture of an aside: http://justintadlock.com/blog/wp-content/uploads/2012/09/aside-matt.png

[2016-10-12 19:53] RickBakkr commented on #18
Thanks for your immense positive response.

Can you give me a little example of how you imagine the aside post in Bootstrap?

[2016-10-12 20:06] pjhampton commented on #18
To be honest, I see this it as a fairly minor change. This is because someone adopting this theme to build their own will probably change it to suit their design needs. Maybe consider just putting a border around the main content on the page?

Kind of like what @Bobeta did in #39

After all, it up to you to make it your own 😄  You can get as creative as you want, but my advice is keep it simple! ✨

[2016-10-13 03:53] rveitch commented on #19
@pjhampton I'm happy to claim and take a crack at this one for Hacktoberfest, I've previously done work on both WordPress based Bootstrap 4 themes and audio/podcast related plugins before.

[2016-10-13 04:09] rveitch opened #45 "Uncaught Error: Bootstrap tooltips require Tether"
`Uncaught Error: Bootstrap tooltips require Tether (http://github.hubspot.com/tether/)`

![image](https://cloud.githubusercontent.com/assets/12876929/19336327/ee7fabe8-90cf-11e6-800e-84e225dca772.png)

It looks like the tether.js dependency is missing, I believe it needs to be loaded before bootstrap.js.  I'd also be happy to look into this issue for Hacktoberfest if you wanted to label it.

[2016-10-13 08:09] marlek commented on #20
I'll take this one

[2016-10-13 08:28] pjhampton commented on #19
Awesome @rveitch 💙  ❤️  It's all yours!! Make it your own, but feel free to reach out if you need any help 😄

[2016-10-13 08:32] pjhampton commented on #45
Yes, please @rveitch 💯

[2016-10-13 08:33] pjhampton commented on #20
So much awesome @marlek 💙  💛  ❤️

Thanks! Let me know if you have any questions or need any help.

[2016-10-13 11:52] pjhampton commented on #26
Hey @fvaneldijk. How are you getting on with this? 😄

[2016-10-13 13:11] fvaneldijk commented on #26
Hi @pjhampton, was about to message you to tell you I'll pick this up tomorrow. This week has been chaotic to say the least. Sorry for letting you wait :)

[2016-10-13 13:48] pjhampton commented on #26
Hey @fvaneldijk!! No no, don't apologize! I REALLY appreciate your help. Just making sure you hadn't disappeared off the earth 😆

💛  💙  ❤️  💜  💚

[2016-10-13 16:15] RickBakkr commented on #18
Ahh, I see. I will hopefully have time to pick this up tomorrow. Sorry for letting you wait haha

[2016-10-13 16:16] pjhampton commented on #18
haha, no need to apologize @RickBakkr!! I REALLY appreciate the contribution 😄
Take your time and let me know if you have any issues. I will be happy to help!

[2016-10-13 16:36] rveitch opened #47 "Undefined Comment Form Variables"
Looks like `$aria_req` is undefined in `comments.php`. I've created submitted a PR (#46) for this for Hacktoberfest.

![image](https://cloud.githubusercontent.com/assets/12876929/19357595/f76ce988-9137-11e6-9641-69e8aa7452ad.png)

[2016-10-13 19:56] pjhampton commented on #47
Closed via #46

[2016-10-13 19:56] #47 closed

[2016-10-13 20:00] #45 closed

[2016-10-13 20:01] pjhampton commented on #45
Looks like your doing really well @rveitch ~ https://hacktoberfestchecker.herokuapp.com/?username=rveitch

Thanks for all your help. I REALLY appreciate it! 😄

[2016-10-13 21:54] #20 closed

[2016-10-14 17:06] RickBakkr commented on #18
Although it looks and is simple, it might just do the trick: adding a Blockquote. I thought this would be appropriate since I think you would use an Aside for posts like quotes. If you agree, I will send in an PR, let me know what you think!

Example:
![Example](http://i.imgur.com/rrqMGXQ.png)

[2016-10-14 17:28] pjhampton commented on #18
Yep, this looks good. BUT, there is a post format called quote already. I think we need to differentiate it some how, like give it a class of `<blockquote class="aside">...` and give it a different background color other than grey. What do you think @RickBakkr? 😄

[2016-10-14 17:44] RickBakkr commented on #18
Tried to play around a little with the card-design known from Material to give it a different look. What do you think about this idea, @pjhampton ?

Example:
![Example](http://i.imgur.com/COzzGzP.png)

[2016-10-14 19:01] pjhampton commented on #18
Yeah, this looks pretty slick @RickBakkr 👍
Look forward to the PR 😄

[2016-10-15 11:03] RickBakkr commented on #18
I love to hear you're positive about my work. The PR is opened :-)

[2016-10-15 11:11] #18 closed

[2016-10-15 11:21] RickBakkr commented on #28
Shall I try to do this one too, @pjhampton ?

[2016-10-15 14:27] pjhampton commented on #28
If you are up for it @RickBakkr 😄

[2016-10-15 14:28] RickBakkr commented on #28
Okay, I'll give it a shot when I have some time in the next few days!

[2016-10-15 14:55] #26 closed

[2016-10-16 11:55] fvaneldijk commented on #11
Hi @pjhampton, do you have a list of all the WordPress and WooCommerce widgets that need to be styled? Also, what kind of styling are you thinking of?

[2016-10-16 16:18] pjhampton commented on #11
Hey @fvaneldijk!!

I thought about this again. Maybe WordPress _and_ WooCommerce widget styling is too ambitious for one PR. I have reduced the scope down to just WordPress widget styling issues. Let me know you thoughts 🍰

[2016-10-16 16:19] pjhampton commented on #44
Hey @VictorAlagwu. How are you getting on with this? Need any help? 😄

[2016-10-16 21:33] fvaneldijk commented on #11
Hey @pjhampton,

Sounds good to only style the default WordPress widgets, it's quite the list already! :smile:
And about the styling. I'm thinking of re-using the styling of Bootstrap components for the widgets. If I can't re-use it I'll try to imitate the Bootstrap look and feel for the WordPress widgets. Good idea?

Just to check if I have the correct list of widgets. Below are the default widge

[2016-10-17 08:47] pjhampton commented on #11
That looks and sounds good @fvaneldijk!

Yeah, my advice is add as little of CSS as possible and try just to leverage the bootstrap classes! 😄
Do you want to take this forward?

[2016-10-17 10:41] fvaneldijk commented on #11
Hi @pjhampton, sure thing. I'll claim this one and try to push it this week :smile:

[2016-10-17 11:10] pjhampton commented on #11
You rock @fvaneldijk!! 🎉

[2016-10-18 11:39] RickBakkr commented on #28
What do you think of this, @pjhampton ?
![Example](http://i.imgur.com/RBYJm3F.png)

* Don't mind the example pics and the actual content ;-)

[2016-10-18 11:45] pjhampton commented on #28
This looks pretty cool @RickBakkr!! Is it using col-*-* for layout? If so, is it possible we could increase the image size, or is this something that is done within the WordPress crop tool?

😄

[2016-10-18 11:52] RickBakkr commented on #28
No, I have mainly editted the default gallery code using CSS. AFAIK you can change the size of the images from within WP, in above image set to "Thumbnail".

[2016-10-18 12:01] pjhampton commented on #28
Sure @RickBakkr. If you think that is the best implementation we will go with that 😄  I was just wondering how you approached it. That is fine about the thumbnail sizes!

[2016-10-18 12:03] RickBakkr commented on #28
Well, I didn't really see a different way of approaching this... I have enlarged the boxes from 25% (equal to col-md-3) to 33% (col-md-4). I'll do the PR in a few minutes :-)

[2016-10-18 12:57] #28 closed

[2016-10-18 18:43] pjhampton opened #54 "Basic styling for WooCommerce checkout"
We need to ask basic styling to the form on the check out. Here are screenshots of the checkout in its current state. To claim this issue, please comment below.

![screen shot 2016-10-18 at 7 32 45 pm](https://cloud.githubusercontent.com/assets/8960296/19491471/ff5d520e-956a-11e6-924b-61e4ffde4fe5.png)

![screen shot 2016-10-18 at 7 33 06 pm](https://cloud.githubusercontent.com/assets/8960296/1949

[2016-10-18 18:50] pjhampton opened #55 "Style WooCommerce Widgets"
The following WooCommerce Widgets need bootstrap boilerplate styling. These include:
- WooCommerce Average Rating Filter
- WooCommerce Layered Nav Filters
- WooCommerce Basket
- WooCommerce Price Filter
- WooCommerce Product Categories
- WooCommerce Product Tags
- WooCommerce Recently Viewed
- WooCommerce Recent Reviews
- WooCommerce Top Rated Products

Reseved for @RickBakkr

[2016-10-18 19:27] RickBakkr commented on #55
Are these widgets meant to be put in "Page widget" or in one of the places at the footer? Nothing shows up when I use it in Page though...

[2016-10-18 19:53] pjhampton commented on #55
Yeah, it should be in page widget. It seems there is a bug. I will look into this and get back to you.

[2016-10-19 09:42] pjhampton commented on #55
Hey @RickBakkr

Can you import the dummy data from here (https://docs.woocommerce.com/document/importing-woocommerce-dummy-data/) and import it. Are you still experiencing problems?

[2016-10-19 09:44] RickBakkr commented on #55
Hi @pjhampton

Actually, that was the first thing I did after installing Woocommerce. I am still not seeing any widget when I put it in the "Page widget" spot.

[2016-10-19 09:45] pjhampton commented on #55
Hmm, is it set to the default template in the page settings?

[2016-10-19 09:46] pjhampton opened #56 "Fix Product layout"
For some reason, when there is a bit more text in the product title, it messes up the bootstrap rows / columns. This needs to be fixed. If you are interesting in working on this issue, please comment below to claim it.

![screen shot 2016-10-19 at 10 44 17 am](https://cloud.githubusercontent.com/assets/8960296/19513826/450dfc30-95e9-11e6-9de6-2e364fe11412.png)

[2016-10-19 09:48] RickBakkr commented on #55
I think so. These page settings are currently set:

http://i.imgur.com/HPvRCaW.png

[2016-10-19 09:50] pjhampton commented on #55
That is weird! Last question, if you add the likes of standard WP widgets to it, such as Search, or text - does it show up?

[2016-10-19 09:53] RickBakkr commented on #55
Nope. Tested a search form in the Page widget, it did not show up.

[2016-10-19 09:55] pjhampton commented on #55
Ok, I will get back to debugging.

[2016-10-19 16:58] manuelmdn commented on #54
I'ill work in this

[2016-10-19 17:17] pjhampton commented on #54
Awesome @manuelmdn!! 😄

[2016-10-19 17:46] xRahul commented on #56
I'll work on it.. I have some experience with this issue

[2016-10-19 19:02] pjhampton commented on #56
Awesome @xRahul 😄  Look forward to seeing your PR

[2016-10-21 13:33] pjhampton commented on #54
Hey @manuelmdn! :)

How are you getting on with this? Do you need any help?

[2016-10-21 19:28] pjhampton commented on #54
Wow, this looks amazing @manuelmdn

💙  💛  ❤️  💚

[2016-10-23 19:03] pjhampton opened #57 "Replace Bootstrap files"
It seems that Bootstrap recently updated from Bootstrap 4-alpha.4 to Bootstrap 4-alpha.5. It would be good to replace the following files:

  - static/css/bootstrap.min.css
  - static/js/bootstrap.min.js

See the download here: https://v4-alpha.getbootstrap.com/getting-started/download/

This issue is reserved for new-comers to the project! If you are interested in working on this issue, pleas cla

[2016-10-23 19:10] divayprakash commented on #57
@pjhampton Working on it!

[2016-10-23 19:45] #57 closed

[2016-10-24 08:48] pjhampton commented on #56
How are you getting on @xRahul? 😄
Do you have any questions?

[2016-10-24 10:55] xRahul commented on #56
actually I'm still checking out the code.. It'll take me some time to get through it all

[2016-10-24 11:05] pjhampton commented on #56
No problem @xRahul :) feel free to reach out if you need any help!

[2016-10-24 20:04] manuelmdn commented on #54
Can you create a dev branch?

[2016-10-24 20:12] pjhampton commented on #54
Done 😄

[2016-10-25 16:22] pjhampton commented on #54
Thanks @manuelmdn 😄  really cool job

[2016-10-25 16:33] pjhampton commented on #54
Reopening to push to master

[2016-10-25 17:34] #54 closed

[2016-10-25 20:21] pjhampton opened #64 "Refactor: Moves code to different file"
We need to move lines 59 - 82 in [functions.php](https://github.com/pjhampton/BigBooty/blob/master/functions.php) into a new file (config/styling.php) and then require that file in functions.php.

This issue is reserved for someone who hasn't yet contributed to this repo. If you are interested in working on this issue, please comment below and send a PR. First come first serve.

[2016-10-25 20:44] davelima commented on #64
I'll do it :grin:

[2016-10-25 21:38] #64 closed

[2016-10-26 13:48] pjhampton opened #66 "Refactor: Moves code to different file"
We need to move lines 60 - 71 in [functions.php](https://github.com/pjhampton/BigBooty/blob/master/functions.php) into config/styling.php.

This issue is reserved for someone who hasn't yet contributed to this repo. If you are interested in working on this issue, please comment below and send a PR. First come first serve.

[2016-10-26 13:51] rishirajjain commented on #66
I'm a newbie can I take this up ?

[2016-10-26 14:22] #66 closed

[2016-10-26 16:28] pjhampton commented on #44
Closed due to inactivity.

[2016-10-26 16:28] #44 closed

[2016-10-27 02:30] xRahul commented on #56
Hey @pjhampton
How do I reproduce this issue? I'd need to add some dummy products and maybe use some plugin, right? I have installed wordpress and activated the BigBooty Theme just fine. Now what?

[2016-10-27 02:46] xRahul commented on #56
Also check this out- https://github.com/pjhampton/BigBooty/pull/68

[2016-10-27 08:55] pjhampton commented on #56
As this is a starter theme, we want any css / sass / etc to be as minimal as possible. Have you seen a this? http://stackoverflow.com/a/20258406/3968703

[2016-10-27 12:12] xRahul commented on #56
@pjhampton I know about those ways, but they are restrictive. For the clearfix way, you'd have to define a fixed number of elements per row, like say 4.
This is bad as bootstrap is responsive, and you want the layout to vary with size.. as in, for lg it's 4, md it's 3 and sm/xs it's 2 per row.
Also even if we fix the number of elements per row, the rows would look too mismatched due to different h

[2016-10-27 12:18] pjhampton commented on #56
Hey @xRahul

It sounds like you know what you are talking about so I will let you choose the right direction 😄

[2016-10-27 17:17] RickBakkr commented on #55
Did you make any progress into this matter @pjhampton ?

[2016-10-27 17:37] pjhampton commented on #55
Hey @RickBakkr

I'm afraid I can't replicate this at all. I am assuming it has something to do with your setup. Can you double check on your end?

[2016-10-30 20:56] pjhampton commented on #56
Hey @xRahul!

Just to let you know that there is only another 24 hours of hacktoberfest left. Do you want to at least send a PR to reserve this?

[2016-10-30 20:58] pjhampton commented on #19
Hey @rveitch!

There is only another 24 hours of hacktoberfest left. Would you like to send a PR so you don't lose out on this?

[2016-11-01 11:30] pjhampton commented on #22
The theme has been renamed.

[2016-11-01 11:30] #22 closed

[2016-11-24 20:58] pjhampton opened #70 "Create project logo"
We need a new logo for this project which isn't the same as WPs.

[2017-05-06 13:00] RickBakkr commented on #55
Seems like this project is no longer active? Want to see whether I have the time to dig into this issue again upcoming week :-)

[2017-05-06 22:41] pjhampton commented on #55
Hey @RickBakkr,

The project is still being maintained, I'm just crazy buzy at the moment. Yeah, I would love some help 😄  I removed woocommerce for now because it was getting messy

[2017-05-06 22:41] #55 closed

[2017-05-06 22:41] #56 closed

[2017-05-06 22:41] #70 closed

[2017-05-07 09:36] RickBakkr commented on #11
Is this issue still open @pjhampton @fvaneldijk ?

[2017-05-07 19:34] pjhampton commented on #11
Yeah, it is @RickBakkr 😄

[2017-10-01 11:40] LiamBailey commented on #11
I would like to take this issue if possible?

[2017-10-01 11:46] pjhampton commented on #11
Hey @LiamBailey,

Sure thing. It's all yours!

[2017-10-01 11:46] LiamBailey commented on #11
Awesome - thanks

[2017-10-01 11:54] RickBakkr commented on #11
Sorry for posting this here: Got something you want me to do  @pjhampton ?

[2017-10-01 16:41] pjhampton opened #71 "Design: Create new logo / splash for Gramophone"
After last years Hacktoberfest, I renamed the theme to something more... mature and family friendly 😆 . As such, the project needs a new identity, ie: a logo and a splash for the README (see below images).

My kind of thinking is around the lines of:

- https://www.shutterstock.com/image-vector/gramophone-icon-401650771?src=D9TK-ESOVVQ01kyN9Hdzaw-1-15
- https://www.shutterstock.com/image-vector/ol

[2017-10-01 16:44] pjhampton opened #72 "Front-end: Make login more classy"
We should try make the login screen more classy. Purple was the old brand. I think we should look to a more grey / black login screen by default now if possible that is visually appealing

![screen shot 2017-10-01 at 5 42 52 pm](https://user-images.githubusercontent.com/8960296/31056831-246fbc2c-a6d0-11e7-8b76-a575e0668d33.png)

[2017-10-01 16:47] pjhampton opened #73 "Backend: Add new footer menu"
**Requirements:** Add a new footer menu for the default theme. It might be a good idea to start off the theme with the unit test data: https://codex.wordpress.org/Theme_Unit_Test

![screen shot 2017-10-01 at 5 44 53 pm](https://user-images.githubusercontent.com/8960296/31056847-60816288-a6d0-11e7-8d2c-9c35bf7f4383.png)

[2017-10-01 16:49] fiott248 commented on #72
You want to change the colors ?

[2017-10-01 16:50] gdsrosa commented on #72
Hey, do you wanna change the purple background to black? Or some mixing between black and grey?

[2017-10-01 18:32] richtepa commented on #71
*Made one.*

Something like this?
![design](https://user-images.githubusercontent.com/32306396/31057709-a2203770-a6e7-11e7-9f40-665a1dd9817f.png)

[2017-10-01 19:01] geekfred commented on #72
If you don't mind my asking. I am new on this Hacktoberfest stuff. This is labeled as Hacktoberfest, what's the idea, to redesign the login and show you some ideas? or what? thanks.

[2017-10-01 19:20] pjhampton commented on #72
@fiott248  @gdsrosa @geekfred Yes, but it should look good. It helps if you have a design eye. It shouldn't just be a color change to #000 and then job done.

[2017-10-01 19:21] geekfred commented on #72
Oh! Maybe I have a designers eye! Let’s see! :D

[2017-10-01 19:22] pjhampton commented on #71
Nice, @richtepa! Thanks :-)
Do you want to submit a PR to the PR replacing `./screenshot.png`? You will get the hacktoberfest credit this way. Also, please make note of the dimensions of the currently one - these are the correct dimensions!

[2017-10-01 19:23] pjhampton commented on #72
Ok, @geekfred. It's all yours 👍

[2017-10-01 19:42] richtepa commented on #71
done
#74

[2017-10-01 19:43] richtepa commented on #71
Hope it was the right place...

[2017-10-01 19:51] pjhampton commented on #71
Thanks @richtepa, I have replied 💛

[2017-10-01 20:10] #71 closed

[2017-10-01 20:24] geekfred commented on #72
![web 1920 1 2x](https://user-images.githubusercontent.com/7672885/31058647-9f478542-a6bc-11e7-93be-dfd01329df7c.png)

So classy?

[2017-10-01 20:32] pjhampton commented on #72
Wow, yeah. This looks amazing @geekfred! Send a PR 💛

[2017-10-01 20:40] Justicimo commented on #72
I threw this quickly together as well. If you would be interested in me submitting this as a PR let me know.

![gramophoneloginsample](https://user-images.githubusercontent.com/17466875/31058766-b1e9ff66-a6be-11e7-8221-8fc3e6847013.png)

[2017-10-01 20:41] pjhampton commented on #72
Thanks @Justicimo

I'm afraid this PR was claimed. Please keep an eye on this repo though, I will come up with more issues for you to work on 💛

[2017-10-01 20:48] #19 closed

[2017-10-01 20:49] pjhampton commented on #11
@RickBakkr here is a Low hanging fruit if you want an easy one https://github.com/pjhampton/Gramophone/issues/73 😄  just comment underneath!

[2017-10-01 20:51] RickBakkr commented on #73
I will do it if I find the time to in the upcoming week :-)

[2017-10-01 20:51] pjhampton commented on #73
Thanks @RickBakkr, it's all yours!

[2017-10-01 20:52] RickBakkr commented on #73
Funny how this project is almost left for dead after the previous Hacktoberfest and now is alive again :')

[2017-10-01 20:54] pjhampton commented on #73
It's stable software @RickBakkr. Only small tweaks and refinements are needed from here on out.

[2017-10-01 20:56] RickBakkr commented on #73
Despite I shouldn't do this, so the last message before this turns completely off-topic: how about someone putting up a hosted demo? I'd be happy to push it onto one of my servers :-)

[2017-10-01 20:57] pjhampton commented on #73
Yeah, that could be a good idea actually. I should probably order a domain.

[2017-10-01 21:48] LiamBailey commented on #11
Just to be clear, - you want for me to insert the bootstrap classes into the widgets any way this can be done. Like the search widget uses get_search_form so if I hook into that function (filter) I can check if it is being called from the widget and add the bootstrap classes - I am asking in case I am totally missing something here :-)

[2017-10-02 19:09] pjhampton commented on #11
Hey @LiamBailey - yep, sounds like you've got this 💪

[2017-10-04 09:22] LiamBailey commented on #11
Just to let you know @pjhampton I have decided to add the bootstrap classes to not only the search form within the widget but in general, as your theme has no template for the search form and the plain one sucks

[2017-10-04 09:22] LiamBailey commented on #11
If you disagree with this decision it is a simple matter of using debug_backtrace to only add the styles when the get_search_form is called within the widget.

[2017-10-04 15:12] LiamBailey commented on #11
@pjhampton You can check out the search widget in the footer of http://46.101.6.230/ make sure I am on the right track

[2017-10-04 16:11] LiamBailey commented on #11
^^ Search widget in footer :-)

[2017-10-04 18:34] pjhampton commented on #11
Hey @LiamBailey

This looks great! Awesome job so far 😄

[2017-10-04 18:42] pjhampton opened #76 "Admin: Create a demo site"
We should create a demo site so people can use the theme live to see what its like.

[2017-10-05 03:47] DigitalDesignerOnline commented on #76
I would be happy to assist here. I will get started right away.

[2017-10-05 03:47] DigitalDesignerOnline commented on #76
any specific criteria you had in mind for highlighting purposes?

[2017-10-05 20:04] pjhampton opened #77 "Link admin logo to home page"
Currently the logo on the homepage redirects to the wordpress.org site, it should redirect to the users homepage.

![screen shot 2017-10-05 at 8 54 01 pm](https://user-images.githubusercontent.com/8960296/31249666-1c7b2d9c-aa10-11e7-8f7f-89a3f5982eba.png)

To claim this issue, comment below.

[2017-10-05 20:07] LyNac commented on #77
I can fix it!

[2017-10-05 20:24] pjhampton commented on #77
Hey @LyNac. Thanks!
It's all yours 🤘

[2017-10-05 21:13] LyNac commented on #77
Cool!

[2017-10-06 21:41] LyNac commented on #77
![lynac_logo_redirect](https://user-images.githubusercontent.com/30939927/31299653-8a4f4594-aabd-11e7-8296-8fb5a5b7d80b.jpg)

How's this?

[2017-10-07 08:01] pjhampton commented on #77
Hey @LyNac
Conceptually this looks great! But I need to see the code. Can you please submit a PR and I will check it out on my end?

[2017-10-07 08:27] pjhampton commented on #72
Fixed in https://github.com/pjhampton/Gramophone/pull/75

[2017-10-07 08:27] #72 closed

[2017-10-07 08:29] pjhampton commented on #11
Closed in https://github.com/pjhampton/Gramophone/pull/78

[2017-10-07 08:29] #11 closed

[2017-10-07 08:41] pjhampton opened #79 "Create a shell script to prepare zip folder"
The Theme Check is throwing the following warnings which need to be corrected:

**WARNING:** .ds_store .editorconfig .git .github .gitignore Hidden Files or Folders found.
**REQUIRED:** Please remove any extraneous directories like .git or .svn from the ZIP file before uploading it.

We should create a simple shell script to (in my fuzzy state of mind):

- Make a copy of the current directory cont

[2017-10-07 08:43] MatejMecka commented on #79
Bash :D

[2017-10-07 08:44] pjhampton commented on #79
Would you be interested taking this forward @MatejMecka? 😄

[2017-10-07 08:45] MatejMecka commented on #79
Yep :3

[2017-10-07 08:46] pjhampton commented on #79
Awesome! Let me know if you have any questions

[2017-10-07 08:46] MatejMecka commented on #79
where do i submit the bash script? Is there a specific folder for it or ?

[2017-10-07 08:47] pjhampton commented on #79
@MatejMecka the root please 👍

[2017-10-07 08:49] pjhampton opened #80 "Style comments"
If you install the theme and install the [theme test data](https://codex.wordpress.org/Theme_Unit_Test) you can see that the comments don't look so good. This could be a good opportunity to style that section. As this is a starter theme, **the result should be very simple and bootstrap 4 based!**
Please comment below if you would be interested in taking forward this issue!

![screen shot 2017-10-0

[2017-10-07 09:00] vkolova commented on #80
I'd like to help!

[2017-10-07 16:13] pjhampton commented on #80
@vkolova that would be awesome :) thank you!

[2017-10-07 19:06] LyNac commented on #77
Thanks! I just submitted the PR!

[2017-10-07 20:41] #77 closed

[2017-10-08 10:04] ahhmarr commented on #79
@MatejMecka
let me know if I can take this

[2017-10-08 10:20] MatejMecka commented on #79
@ahhmarr I wrote the code I just need to test it

[2017-10-09 17:50] #7 closed

[2017-10-09 17:50] pjhampton commented on #73
Hey @RickBakkr! Just checking in 😄  any update?

[2017-10-09 18:01] RickBakkr commented on #73
Hi @pjhampton
Not yet, didn't have the time I wish I had. Will try to do this somewhere this week! :-)

[2017-10-09 18:13] pjhampton commented on #73
Awesome! Thanks for the update @RickBakkr

[2017-10-11 17:31] geekfred commented on #73
pj! How is this going? it seems to be taken but if Rick is too busy I could also give you a hand so we make the menu to look like the login! let me know! Best for you both.

[2017-10-11 17:31] RickBakkr commented on #73
@geekfred Give me a little more time, hope to have finished before the end of this week (Sunday) :-)

[2017-10-11 17:33] geekfred commented on #73
@RickBakkr nice! just let me know if you guys need help! Everything's looking good so far! Congrats!

[2017-10-11 18:08] RickBakkr commented on #76
I'd be happy to assist here as well. I guess multiple online demo's might be a good idea?
Off-topic: cool, my idea being turned into an issue :-)

[2017-10-11 19:45] RickBakkr commented on #73
Just had the time to get started, what did you really have in mind like design @pjhampton ? A centered bar of links, or... ?

[2017-10-11 20:06] pjhampton commented on #73
Hey @RickBakkr, yep - exactly. Nothing fancy! Just a simple line of links

[2017-10-11 20:33] RickBakkr commented on #73
What'd you guys think about this?
https://imgur.com/a/taa9d

If you agree, I will push it and turn it into a PR :-)

[2017-10-11 20:59] pjhampton commented on #73
Looks good @RickBakkr!

[2017-10-11 21:00] RickBakkr commented on #73
Done.

[2017-10-11 21:00] pjhampton commented on #73
Nice, thanks @RickBakkr. I will review tomorrow 👍

[2017-10-12 18:52] RickBakkr commented on #80
Sorry for disturbing.. Just to offer my volunteering: if things don't work out for @vkolova I'd be happy to do this one :-)

[2017-10-12 18:55] pjhampton commented on #80
Hey @vkolova

Any update here? If you are no longer interested can you please give @RickBakkr the go ahead 👍

[2017-10-12 19:05] #79 closed

[2017-10-12 19:28] pjhampton opened #85 "Remember post display choice"
Currently, there are two ways to view the posts on home.php - grid (default) and list. However, when a user selects another page via the pagination, the selection is lost. We need some way to set a cookie to remember the users choice -`jquery.setCookie`

**Screenshot 1** - grid view
![1](https://user-images.githubusercontent.com/8960296/31514956-6a4c9c74-af8b-11e7-9b10-a2e267848401.png)

**Screens

[2017-10-13 00:51] nova4005 commented on #85
I would like to work on this.

[2017-10-13 08:11] vkolova commented on #80
@RickBakkr, go ahead!

[2017-10-13 14:36] RickBakkr commented on #80
Thanks! How about this:
![Screenie](https://i.imgur.com/iGcgiTt.png)

[2017-10-13 17:38] pjhampton commented on #80
This looks really awesome @RickBakkr. Let me check out your code locally and I will give some feedback 👍

[2017-10-13 17:48] #80 closed

[2017-10-13 17:55] #85 closed

[2017-10-13 19:20] pjhampton opened #88 "Add featured thumbnail in grid view"
Currently, home.php has a hardcoded placeholder image (See image below): https://github.com/pjhampton/Gramophone/blob/master/home.php#L54

It would be good to put the featured image there or default to that placeholder image until I can find the time to design one.

![screen shot 2017-10-13 at 8 09 26 pm](https://user-images.githubusercontent.com/8960296/31562552-cd01ce84-b053-11e7-9f70-04f3dea9f2

[2017-10-13 19:33] logichub commented on #88
May I do it?

[2017-10-13 19:34] pjhampton commented on #88
Of course, @logichub! Thanks 😄
Reach out if you have any questions or need any help 👍

[2017-10-13 19:35] logichub commented on #88
Thanks!

[2017-10-13 21:47] logichub commented on #88
2 questions:
1. If post has featured image, we will use it. What if it doesn't have any?
2. What if posts have featured image in different sizes like in the screenshot:

![image](https://user-images.githubusercontent.com/6245858/31567522-57c291d6-b089-11e7-92b7-990adc80dca0.png)

[2017-10-13 21:50] pjhampton commented on #88
@logichub sure!

We can default to the existing image for the time being.

That's ok for now. I can imagine I will implement a specific thumbnail size for this put we can probably just leave it atm.

[2017-10-14 11:45] RickBakkr commented on #88
The pull request (which is in his own repo though) LGTM. Good job! I doubt whether it'd be a good idea to push IDE-specific gitignore entries to the repo as well...

[2017-10-14 12:35] pjhampton commented on #88
Nice @logichub! Can you please create a pull request on this repo so @RickBakkr and I can review / test? :-)

[2017-10-14 13:53] #73 closed

[2017-10-14 20:20] logichub commented on #88
Thanks for your appreciation.

@RickBakkr I added those files to ignore list as those were not part of the theme. Not sure whether it is good or not.

@pjhampton I am new to git and still learning things. I created a new pull request to this repo. Can you check if it is good or again I made some mistake?

[2017-10-14 22:31] #88 closed

[2017-10-14 22:47] pjhampton opened #92 "Style Gallery"
The **gallery post format** needs to be styled with basic bootstrap styles. You can get the dummy data from: https://codex.wordpress.org/Theme_Unit_Test

![screen shot 2017-10-14 at 10 28 53 pm](https://user-images.githubusercontent.com/8960296/31579953-fc72fdaa-b139-11e7-9890-c51438512bb7.png)

If you are interested, please comment on the issue below 😄 👇

[2017-10-15 04:42] Markandeya commented on #92
@pjhampton  I would like to help, what should I do?

[2017-10-15 12:29] pjhampton commented on #92
Awesome, @Markandeya! It would be amazing for you to get involved. This issue could get a little tricky so if you change your mind that is fine too 😄

You will want to add a basic bootstrap style to the images in the gallery post format.

[2017-10-15 20:33] pjhampton opened #93 "Remove line from CONTRIBUTING.md"
The line `Import the WooCommerce dummy data` in [CONTRIBUTING.md](https://github.com/pjhampton/Gramophone/blob/master/.github/CONTRIBUTING.md) needs removed as we don't support that anymore.

### Important!

  - This issue is reserved for someone who hasn't contributing to this project before
  - Please comment below 👇  if you want this issue. First person to claim, it's all theirs 😄

[2017-10-15 20:36] shawnlknight commented on #93
I'd like to take this issue!

[2017-10-15 20:36] pjhampton commented on #93
Go for it @shawnlknight 👍  Let me know if you need any help

[2017-10-15 20:46] pjhampton opened #94 "Fix home.php title"
Currently, the [the home.php](https://github.com/pjhampton/Gramophone/blob/master/home.php#L26) is showing the title of the first post. This is wrong, it should read:

**Page \<number\>**

based on the pagination number. **This might be a difficult issue.** Please read the projects CONTRIBUTING.md before claiming this issue.

![screen shot 2017-10-15 at 9 39 45 pm](https://user-images.githubuserco

[2017-10-15 21:12] alisentas commented on #94
Ok, I would like to help. Can I take this? Made a [little research](https://stackoverflow.com/questions/1031442/finding-current-page-number-in-wordpress) about getting page number as well.

[2017-10-15 21:19] emalgamatedsoy commented on #94
inside of the ./config/pagination.php

is there a way to return the correct page number through a loop that will detect whether the page as an argument is a certain page, then include pagination in namespace clause of ./home.php?

[2017-10-15 21:52] katiequin335 commented on #94
https://github.com/pjhampton/Gramophone/pull/96 I came up with a fix using `get_query_var('paged')` to get the page number.

[2017-10-16 00:52] Markandeya commented on #92
Thank you but I shall require your help if possible. I am new to Wordpress
though I have experience working with Laravel framework.
I have setup the project as per your GIthub page instructions.

On Sun, Oct 15, 2017 at 5:59 PM, PJ Hampton <notifications@github.com>
wrote:

[2017-10-16 12:22] #93 closed

[2017-10-16 12:22] pjhampton commented on #92
What help do you need specifically @Markandeya?

[2017-10-16 15:32] Markandeya commented on #92
I have never worked with Wordpress or templates. Resource to Wordpress theme and the files I need to work with would be a good start ;)
I am a noob at this.

[2017-10-17 19:21] #94 closed

[2017-10-17 19:31] pjhampton opened #98 "Remove subfooter when menu not there"
Currently, the sub footer shows even when there is no menu there. This should be conditioned to show only if a menu is registered there. Please comment below 👇  if you want to work on this. First claimer gets it.

![screen shot 2017-10-17 at 8 24 30 pm](https://user-images.githubusercontent.com/8960296/31685119-d4b796da-b379-11e7-9988-d7c847904353.png)

[2017-10-17 20:24] Braunson commented on #98
On it.

[2017-10-18 10:39] #98 closed

[2017-10-26 12:34] RickBakkr commented on #92
How are things working for you @Markandeya ?

[2017-10-26 20:17] #92 closed

[2017-10-26 20:30] pjhampton opened #102 "Add default image"
Currently, there is just a placehold.it image in place when there is no featured image. It would be awesome if we could replace it with an image of a vectorized gramophone. The code to change is: https://github.com/pjhampton/Gramophone/blob/5f2e9ae0ba3b48d6542d6816163ac7cae3ba7bb6/home.php#L55

![screen shot 2017-10-26 at 9 20 25 pm](https://user-images.githubusercontent.com/8960296/32075220-10bea

[2017-10-26 21:26] brunockl commented on #102
I can work on this!

[2017-10-27 10:06] #102 closed

[2017-10-27 22:02] pjhampton opened #104 "Add favicon"
Design and add a simple favicon. Please comment below if you want to take this one 😄

![screen shot 2017-10-27 at 10 54 00 pm](https://user-images.githubusercontent.com/8960296/32126674-e641e8d6-bb69-11e7-8986-496018f2dfb9.png)

[2017-10-27 22:28] bennychan commented on #104
I'd like to try

[2017-10-27 22:40] #104 closed

[2017-10-30 20:44] pjhampton opened #106 "Increase featured image size if too small (width)"
Increase the featured image with small width to fit the panel 100%

![screen shot 2017-10-30 at 8 40 34 pm](https://user-images.githubusercontent.com/8960296/32194653-e5ce6758-bdb2-11e7-8cf5-1db48011c2bb.png)

[2017-10-31 14:06] #106 closed

[2018-10-03 21:10] pjhampton opened #109 "Fix indentation in dockerfile"
The dockerfile indentation should match the rule in editor config.

**Whoever is working on this please claim with a comment below.**

[2018-10-03 21:13] geryjuhasz commented on #109
I can do this

[2018-10-03 21:15] pjhampton commented on #109
Cool. Thanks @geryjuhasz

[2018-10-03 21:20] #109 closed

[2018-10-07 15:13] pjhampton opened #112 "Move comments out of externals into internals"
Having comments.php in `externals/` makes no sense. It should be moved into `internals/`
That file should be moved there and the linkage should also be updated.

If you are working on this, **please comment below to claim the issue!**

[2018-10-07 15:17] pjhampton opened #113 "Remove dependency on js.cookie.js"
js.cookie.js was introduced to remember how the user liked to view the posts on the home template. This is a heavy dependency that could be done with just a little javascript.

This would require setting up wordpress and setting up Gramaphone

https://github.com/pjhampton/Gramophone/blob/master/static/js/js.cookie.js

Please comment below if you want to work on this

[2018-10-07 22:07] pjhampton opened #115 "Design a better 404 page"
Looking for help in designing a better 404 page. I like the look of something like this - super simple: http://themereact.herokuapp.com/3.0/404.html

![screen shot 2018-10-07 at 23 04 29](https://user-images.githubusercontent.com/8960296/46587512-968bb700-ca85-11e8-93d8-30ada741a2cf.png)

**If you would like to work on this then please comment below to claim it so someone else doesn't work on it!*

[2018-10-07 22:10] harry-7 commented on #115
I want to work on this, can you assign this to me?

[2018-10-07 22:12] pjhampton commented on #115
Sure - I have sent you a collaborator invite. The issue is all yours. No other PR will be accepted for this but yours so please work away 👍

[2018-10-08 17:02] richtepa commented on #115
Hey @harry-7 - Are you working on it? If you stopped, I would like to work on this issue.

[2018-10-08 17:04] harry-7 commented on #115
I started working on it. I will be able to send a PR by tonight.

[2018-10-08 17:05] richtepa commented on #115
No problem, take your time...

[2018-10-08 18:49] harry-7 commented on #115
@pjhampton Just to confirm, the screenshot you provided is how you are expecting the 404 page to look like?

[2018-10-08 19:19] pjhampton commented on #115
@harry-7 that is what is looks like currently - you can see this in the 404.php file. I imagine something a little more cool and contrast with the rest of the site to let users know there is something wrong - kind of like http://themereact.herokuapp.com/3.0/404.html

@richtepa are you looking for a hacktoberfest issue? there is a couple I haven't put up yet

[2018-10-08 19:44] pjhampton opened #116 "Fix errors on Gallery"
There seems to be a lot of errors in the gallery which sucks.
It would be awesome if someone could make sure they are removed.

Please comment below to claim this issue

<img width="1280" alt="screen shot 2018-10-08 at 20 41 39" src="https://user-images.githubusercontent.com/8960296/46630054-e5475880-cb3a-11e8-806d-7748f23ae2d9.png">

[2018-10-08 20:00] Pielgrin commented on #116
taken

[2018-10-08 20:04] pjhampton commented on #116
Thanks @pielgrin! Reach out if you need any help :smile:

[2018-10-08 20:14] pjhampton opened #117 "Center video in middle of screen"
This looks a bit too basic. It would be good to center this in the middle of the screen

If you want to work on this please claim it below in a comment

<img width="1280" alt="screen shot 2018-10-08 at 21 13 03" src="https://user-images.githubusercontent.com/8960296/46631355-0f027e80-cb3f-11e8-80b1-b111a7856591.png">

[2018-10-08 20:19] arnas commented on #117
I will take it :)

[2018-10-08 20:19] pjhampton commented on #117
Thanks @arnas! Reach out if you need any help 😄

[2018-10-08 20:35] harry-7 commented on #115
@pjhampton , I am able to set the wordpress and this theme in it. But I am unable to access this 404 page. Like if I try to access some random url, I am just getting the default 404 page of apache. Is there something wrong I am doing?
![screenshot_2018-10-08 404 not found](https://user-images.githubusercontent.com/12495975/46632298-1b3c0b00-cb42-11e8-99b4-3b9bb0ef2b21.png)

[2018-10-08 20:37] pjhampton opened #118 "Design the gallery"
So the gallery looks pretty naff - because it has no styling.

It would be cool to get a bit of basic styling in here. Please comment below if you are going to work on this

<img width="1280" alt="screen shot 2018-10-08 at 21 35 26" src="https://user-images.githubusercontent.com/8960296/46632370-54747b00-cb42-11e8-9c8d-26336a015398.png">

[2018-10-08 20:41] pjhampton commented on #115
That looks to be more of an apahce default 404, rather than a wordpress 404.

Does this help? https://serverfault.com/questions/501147/wordpress-permalinks-reach-apache-404-not-wordpress-404-php-or-their-real-respec

[2018-10-08 20:52] Pielgrin commented on #116
This is weird @pjhampton I have no problem with the gallery on my post. What have you done to get these errors ?
<img width="1418" alt="no bug" src="https://user-images.githubusercontent.com/18363758/46633022-c8b41c00-cb4c-11e8-9017-20c036b43157.png">

[2018-10-08 20:56] pjhampton commented on #116
Hey @Pielgrin

Have you got WP_DEBUG set to true in wp-config?

<img width="1280" alt="screen shot 2018-10-08 at 21 55 35" src="https://user-images.githubusercontent.com/8960296/46633230-f8f7bc80-cb44-11e8-8827-bed4ee1e53bc.png">

[2018-10-08 21:12] harry-7 commented on #115
@pjhampton  thanks for the link. I was wondering if we could get rid of the nav bar for the 404 page, because we are already showing link to the main page in the 404 page. So I think, navbar is sort of redundant and also UI would look better without the navbar in the 404 page.

[2018-10-08 21:18] arnas commented on #117
Hey, I have created pr for this issue https://github.com/pjhampton/Gramophone/pull/120

[2018-10-08 21:21] Pielgrin commented on #116
Thank you ! Pull request uploaded ;)

[2018-10-08 21:50] #116 closed

[2018-10-08 21:51] #117 closed

[2018-10-08 21:54] #115 closed

[2018-10-08 22:07] harry-7 commented on #118
I want to take it @pjhampton. Can you throw some light on "basic styling"? Like what sort of styling you are expecting and all?

[2018-10-08 22:17] pjhampton commented on #118
That would be awesome to have your help again @harry-7
I really appreciate it.

As for your question, just something simple. The purpose of this project is to do incremental development until it's as good as it gets.

I think a great start would be to align the images.

[2018-10-09 17:20] pjhampton commented on #118
No, that's cool @harry-7 I understand.

The best way to get started is to import the following test data: https://codex.wordpress.org/Theme_Unit_Test

You will get a gallery for free in that.

[2018-10-09 17:59] richtepa commented on #115
No, have done enough. I just had the idea to use a broken vinyl record as zero in "404".

[2018-10-09 19:16] harry-7 commented on #118
I created a PR for this. But If I may, I would request you to not close this issue. I feel there is a lot of scope for improvement here. So what I would suggest is that, add a checklist here with the possible improvements so that me or someone else later can look at it and contribute to it

[2018-10-09 19:31] pjhampton commented on #118
Sure, @harry-7
What have you got in mind?

[2018-10-09 21:27] harry-7 commented on #118
In the mean time, we can merge this PR and then make seperate PR in case we fumble upon other good to have features

[2018-10-09 21:43] #118 closed

[2018-10-09 21:43] pjhampton commented on #118
Yeah, good idea @harry-7. If you come up with any ideas yourself, please feel free to create an issue and add a hacktoberfest label.

[2018-10-11 16:17] harry-7 commented on #76
someone working on this? If not, can @pjhampton let me know what needs to be done ? May be like a checklist or something?

[2018-10-11 17:59] RickBakkr commented on #76
@harry-7 Is that really _that_ useful for a template that really acts as a boilerplate to build your own from?

[2018-10-11 18:54] harry-7 commented on #76
Why not? Whenever I browse themes for wordpress, I always look at the live demo if it is available than the screenshots provided. Live demo allows me to check various features like responsiveness, etc etc.
So why not have a live demo?

[2018-10-11 19:48] pjhampton commented on #76
Hey guys,

Yeah, I feel a live demo of the theme is a good idea because it will get more people using it I reckon, but I agree with @RickBakkr that it's probably not worth too much effort. Anyway, this issue is here for me to do something - but I'm so lazy 😆

I'll do it one day - I promise

anyway - I will be creating more issues this weekend 👍

[2018-10-11 20:33] RickBakkr commented on #76
@pjhampton I love how this specific repository has been surprisingly active during Hacktoberfest. Eager to contribute here this Hacktoberfest too - I believe I have in both previous years :p

[2018-10-11 20:36] pjhampton commented on #76
@RickBakkr contributions are not too much higher than other times in the year - https://github.com/pjhampton/Gramophone/graphs/contributors - but if I can get extra help I would love to take it!

Thanks. Maybe I will create a dev group so you guys can be notified on github

[2018-10-11 21:15] harry-7 commented on #76
@pjhampton yeah please create more :p I like your repo. Seriously, hacktoberfest is the time I get to know new repos.

[2018-10-12 22:00] pjhampton opened #123 "Add sidebar menu"
It would be pretty dope to have a sidebar nav. This would be done by creating a header-sidebar.php template and adding additional css to the app.css file. There is a header-nonav.php file which is used in 404.php

The kind of thing that I am thinking of is

http://themereact.herokuapp.com/3.0/index3.html

[2018-10-13 00:37] harry-7 commented on #123
I will take this. I kind of wanted to suggest this.

[2018-10-13 09:02] pjhampton commented on #123
Thanks @harry-7!

[2018-10-17 19:09] pjhampton commented on #123
Hey @harry-7! How are you getting on? Do you require any assistance? :)

[2018-10-17 21:56] harry-7 commented on #123
@pjhampton , Sorry, I forgot to update you. I searched online for some tutorials, I went through them and I felt they are good. I was unsure, whether I can build similar things here as well. Will there be some licence issues or something like that?

[2018-10-18 11:50] pjhampton commented on #123
There shouldn't be as long as it's not copied verbatim :smile:
If you feel it might be too much of a challenge I don't mind taking over?

[2018-10-18 14:20] harry-7 commented on #123
@pjhampton I will try for a day or two and then I will let you know?

[2018-11-01 21:04] pjhampton commented on #123
Hey. Going to close this out.

[2018-11-01 21:04] #123 closed

[2019-02-25 21:56] pjhampton opened #125 "Publish to WP.org"
(finally)

[2019-09-10 11:56] #125 closed